dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
*.py[cod]
*.so
core
*.log
*.DS_Store
*.DS_Store?
._*
*.Spotlight-V100
*.Trashes
ehthumbs.db
Thumbs.db
*~
*.swp
*.swo
*.dyn_o
*.dyn_hi
